<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
            <form>
                    <p>Nombre</p>
                    <input name="nombre" type="text" placeholder="escriba aquí..."></input>
                    <p>Apellido</p>    
                    <input name="apellido" type="text" placeholder="escriba aquí..."></input>
                    <input type="submit" value="Validar"></input>
            </form>
            <%=
                if (servlet_request.query['nombre'] && servlet_request.query['apellido'])
                    "Hola, " + servlet_request.query['nombre'] + " " + servlet_request.query['apellido']
                end
            %>
    </body>
</html>
